.container{
	width:710px;
	margin:auto;
}

.sign-up-button{
	color:#fff;
	width:190px;
	background:#006400;
	padding:20px;
	font-size:130%;
	text-align:center;
	display:block;
	margin: 0 auto;
}

.round{
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}

body{
	background:#cff;
	font-family: Verdana;
}

header{
	padding-top:20px;
}


header img{
	padding: 1em;
	background: white;
}

section{
	margin-top:1em;
	font-size: 110%;
	padding:20px;
	background:#fff;
}

a {
	color: #09c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color:#069;
}

nav {
	float:right;
	background:white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	list-style-type: none;
 	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a{
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited{
	color:#09c;
	
}

nav ul li a:hover{
	text-decoration: underline;
}

footer{
	text-align:center;
	margin: 10px auto;
	width:100%;
	font-size:80%;
}

footer nav{
	float:none;
}
