.container{
	width:710px;
	margin:auto;
}

.sign-up-button{
	color:#fff;
	width:190px;
	background:#006400;
	padding:20px;
	font-size:130%;
	text-align:center;
	display:block;
	margin: 0 auto;
}

.round{
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}

body{
	background:#cff;
	font-family: Verdana;
}

header{
	padding-top:20px;
}


header img{
	padding: 1em;
	background: white;
}

section{
	margin-top:1em;
	font-size: 110%;
	padding:20px;
	background:#fff;
}

a {
	color: #09c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color:#069;
}

nav {
	float:right;
	background:white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	list-style-type: none;
 	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a{
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited{
	color:#09c;
	
}

nav ul li a:hover{
	text-decoration: underline;
}

footer{
	text-align:center;
	margin: 10px auto;
	width:100%;
	font-size:80%;
}

footer nav{
	float:none;
}
/*user show page*/
div.profile{
	width:100%;
	margin-bottom:0;
}
div.sidebar{
	width:30%;
	padding:.8em;
	vertical-align:top;
	background:#ffc;
	float:right;
	position:relative;
	top:-80px;
}

/*flash*/
.flash{
	width: 97%;
	padding: 10px;
	margin-bottom: 20px;
}

.error{
	background: #E66;
	border: 3px solid red;
}
.success{
	background: #2fa;
	border: 3px solid green
}
.notice{
	background:#dd2;
	border: 3px solid #d93;
}

/*error message for forms*/
.field_with_errors {
	margin-top: 10px; 
	padding: 2px; 
	background-color: red; 
	display: table;
}
.field_with_errors label { 
	color: #fff;
}
#error_explanation {
	width: 400px;
	border: 2px solid red; 
	padding: 7px; 
	adding-bottom: 12px; 
	margin-bottom: 20px; 
	background-color: #f0f0f0;
}
#error_explanation h2 { 
	text-align: left; 
	font-weight: bold; 
	padding: 5px 5px 5px 15px; 
	font-size: 12px;
	margin: -7px; 
	background-color: #c00; 
	color: #fff;
}
#error_explanation p { 
	color: #333; 
	margin-bottom: 0; 
	padding: 5px;
}
#error_explanation ul li { 
	font-size: 12px; 
	list-style: square;
}

/* list of users*/
ul.users{
	margin-top:1em;
}
ul.users li{
	list-style: none;
	margin: .5em;
}