<%= form_for current_user.relationships.find_by_followed_id(@user), 
							:html => { :method => :delete} do |f| %>
							<!-- :remote => true do |f| %> for ajax -->
	<div class= "actions"><%= f.submit "Unfollow" %></div>
<% end %>