<div class='profile'>
	<h1 class="main" style="display:inline">
		<%= gravatar_for @user%>
		<%= @user.name %>
	</h1>
</div>
<div class="sidebar round">
	<strong>URL: </strong><%= link_to user_path(@user), @user %>
	<strong>Member for: </strong><%= time_ago_in_words(@user.created_at) %>
</div>

